---
layout: default
title: "quickConfirm : jQuery Plugin Demonstration"
scripts:
  - http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js
  - vendor/underscore/underscore.js
  - https://raw.github.com/scottrabin/quickconfirm/master/jquery.quickconfirm.js
styles:
  - asset/quickconfirm.css
  - asset/pygmentize.css
---
<h1>quickConfirm Plugin Demonstration</h1>

<!-- basics -->
<h3>The Basics</h3>
<p>The quickConfirm jQuery plugin allows you to unobtrusively ask users for confirmation without disturbing the workflow of your site. It can be attached to any element, positioned as needed, rendered with any content, and works in most browsers.</p>
<p>The most compact call to jQuery.quickConfirm requires a <code>contents</code> attribute. Try it out on the button below:</p>

<div class="center">
    <button id="compact">Try quickConfirm!</button>
</div>
{% bind_code compact %}
$('#compact').quickConfirm({
    contents : {
        text : "This dialog has all default options enabled."
    }
});
{% endbind_code %}
<!-- end basics -->

<!-- dynamic styles -->
<h3>No Pre-Defined Styles</h3>
<p>Many jQuery plugins require attaching a stylesheet to your site to provide basic functionality for the plugin elements. quickConfirm does not require any external stylesheet; instead of providing a default set of styles that will likely need to be customized, quickConfirm uses computed styles to appropriately style itself. It can easily adjust to global stylesheets or per-element custom styles with a minimum of effort.</p>

<div class="center">
    <button id="blue-border">Blue Border</button>
</div>
{% bind_code blue-border %}
$('#blue-border').quickConfirm({
    className : 'blue-border',
    contents :  "The global stylesheet applies a blue border to the " +
                "dialog element; notice how the arrow is also blue."
});
{% endbind_code %}

<div class="center">
    <button id="green-border">Green Border</button>
</div>
{% bind_code green-border %}
$('#green-border').quickConfirm({
    css : {
        borderColor : 'green'
    },
    contents :  "CSS declarations can be passed directly to the " +
                "quickConfirm function to be applied on the element."
});
{% endbind_code %}

<div class="center">
    <button id="wide-border">Wide Border</button>
</div>
{% bind_code wide-border %}
$('#wide-border').quickConfirm({
    css : {
        borderWidth : 6
    },
    contents : "The arrow will even automatically detect the border width of the " +
               "quickConfirm dialog element."
});
{% endbind_code %}
<!-- end dynamic styles -->

<!-- positioning -->
<h3>Positioning</h3>
<p>quickConfirm elements can be rendered on <code>top</code> or <code>bottom</code> of, or to the <code>left</code> or <code>right</code> of, any triggering element.</p>

<div class="center">
    <button id="left-of" style="float: right;">On The Left</button>
    <button id="right-of" style="float: left;">On The Right</button>
    <button id="top-of">On Top Of</button>
</div>
{% bind_code top-of %}
$('#top-of').quickConfirm({
    position : 'top',
    contents : 'This dialog is rendered on the top'
});
{% endbind_code %}
{% bind_code right-of %}
$('#right-of').quickConfirm({
    position : 'right',
    contents : 'This dialog is rendered on the right'
});
{% endbind_code %}
{% bind_code left-of %}
$('#left-of').quickConfirm({
    position : 'left',
    contents : 'This dialog is rendered on the left'
});
{% endbind_code %}
<!-- end positioning -->

<!-- arrows -->
<h3>Arrow Properties</h3>
<p>The all-CSS arrow has <code>width</code> and <code>height</code> properties that can be customized to suit your needs.</p>
<div class="center">
    <button id="tall-arrow">A Tall Arrow</button>
</div>
{% bind_code tall-arrow %}
$('#tall-arrow').quickConfirm({
    arrow : {
        height : 20
    },
    contents : "This dialog has a very tall arrow."
});
{% endbind_code %}
<!-- end arrows -->

<!-- templating -->
<h3>Dialog Contents and Templates</h3>
<p>A true confirmation dialog should offer two form controls: a "proceed" button, and a "cancel" button. The quickConfirm plugin offers a default template that will render a small set of parameters passed in <code>contents</code> with such form controls:</p>

<div class="center">
    <button id="content-template">Templated Contents</button>
</div>
{% bind_code content-template %}
$('#content-template').quickConfirm({
    contents : {
        text    : "This is the template text.",
        proceed : "Go",
        cancel  : "Nope"
    }
});
{% endbind_code %}

<p>The templating system is completely customizable; the default template can be changed (using <code>{{variableName}}</code> to indicate insertion points for object properties), replacing property names or rendering an entirely different template.</p>
<div class="center">
    <button id="modified-template">Modified Template</button>
</div>
{% bind_code modified-template %}
{% raw %}
$('#modified-template').quickConfirm({
    template :  '<span style="color: red;">{{question}}</span>' +
                '<a href="#" style="display: block;" onclick="$(this).quickConfirm(\'cancel\'); return false;">{{no}}</a>' +
                '<a href="#" style="display: block;" onclick="$(this).quickConfirm(\'proceed\'); return false;">{{go}}</a>',
    contents : {
        question : "Newly rendered text",
        go : "Proceed is now a link",
        no : "Close this dialog"
    }
});
{% endraw %}
{% endbind_code %}

<p>The template rendering function itself can be changed as well - quickConfirm will use the <code>renderTemplate</code> function to generate the inner HTML string from the <code>template</code> if <code>contents</code> is a plain object. <code>renderTemplate</code> takes as parameters <code>(template, object)</code>; this is fully compatible with the template function from Underscore.js, which can be inserted into quickConfirm with little difficulty.</p>
<div class="center">
    <button id="underscore-template">Underscore Template</button>
</div>
{% bind_code underscore-template %}
$('#underscore-template').quickConfirm({
    template :  '<span style="display: block;"><%= text %></span>' +
                '<% _.each( list, function( item ){ %>' +
                    '<span><%= item %></span>' +
                '<% }); %>',
    renderTemplate : _.template,
    contents : {
        text : 'Underscore.js templates!',
        list : [1, 2, 'three']
    }
});
{% endbind_code %}
<!-- end templating -->

<!-- form controls and events -->
<h3>Dialog Event Handlers</h3>
<p>Custom event handlers can also be bound to the form in one of two ways. The first is to pass the callback functions as properties on the <code>options</code> parameter:</p>
<div class="center">
    <button id="special-proceed">Proceed Handler</button>
</div>
{% bind_code special-proceed %}
$('#special-proceed').quickConfirm({
    onproceed : function(){
        alert("Okay.");
    }
});
{% endbind_code %}
<p>Note that overriding the <code>onproceed</code> parameter in the previous example didn't close the dialog when the proceed button was clicked. The default behavior is to close the dialog; overriding callbacks must manually close the dialog.</p>
<div class="center">
    <button id="special-cancel">Cancel Handler</button>
</div>
{% bind_code special-cancel %}
$('#special-cancel').quickConfirm({
    oncancel : function(){
        alert("The dialog was canceled.");
        // `this` refers to the quickConfirm dialog element
        $(this).quickConfirm('close');
    }
});
{% endbind_code %}

<p>The second way to attach event handlers to the quickConfirm dialog is to directly bind callback functions to the <code>proceed</code> and <code>cancel</code> events on the dialog:</p>
<div class="center">
    <button id="bind-proceed">Bind Proceed</button>
</div>
{% bind_code bind-proceed %}
// no parameters are passed here
$('#bind-proceed').quickConfirm({});

// get the dialog and bind an event to it
$('#bind-proceed').quickConfirm('dialog')
    .bind( 'proceed', function(){
        alert("This will still show, and the dialog will still hide. " +
              "The default functions are not overridden here.");
    });
{% endbind_code %}
<!-- end form controls and events -->

<!-- closeOnBlur -->
<h3>Close Behavior</h3>
<p>All of the previous demonstrations have left the <code>closeOnBlur</code> attribute at the default value of <code>true</code>; this means that clicking anywhere outside the trigger element or the dialog will hide the element. For particularly important dialogs, this behavior can be disabled by setting <code>closeOnBlur</code> to false:</p>

<div class="center">
    <button id="force-close">Force Close</button>
</div>
{% bind_code force-close %}
$('#force-close').quickConfirm({
    closeOnBlur : false
});
{% endbind_code %}
<!-- end closeOnBlur -->
